## Programming for Data Analysis - Project 2021
---
Jody Bradley (G00387878@gmit.ie)

### Introduction




### Generating synthetic data with Scikit-Learn

https://python-course.eu/machine-learning/artificial-datasets-with-scikit-learn.php

In [1]:
import numpy as np
import pandas as pd


cities = ['Berlin', 'Frankfurt', 'Hamburg', 
          'Nuremberg', 'Munich', 'Stuttgart',
          'Hanover', 'Saarbruecken', 'Cologne',
          'Constance', 'Freiburg', 'Karlsruhe'
         ]

n= len(cities)
data = {'Temperature': np.random.normal(24, 3, n),
        'Humidity': np.random.normal(78, 2.5, n),
        'Wind': np.random.normal(15, 4, n)
       }
df = pd.DataFrame(data=data, index=cities)
df

              Temperature   Humidity       Wind
Berlin          21.438428  81.210790  14.011748
Frankfurt       17.759468  75.876121  16.640536
Hamburg         30.119010  76.304918  13.569961
Nuremberg       22.279372  78.451625  17.795817
Munich          22.869274  75.909871  14.132239
Stuttgart       27.494312  79.728759  22.966918
Hanover         26.039146  79.139598  12.574374
Saarbruecken    20.826394  77.246549  16.018149
Cologne         24.962724  80.253348  14.720081
Constance       21.987991  79.267186  13.161655
Freiburg        27.092595  80.554304   8.902916
Karlsruhe       28.519912  78.753331  19.849610